.podcastSummary {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        align-self: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;

}

.mainImage {
        max-width: 200px;
        max-height: 200px;
        aspect-ratio: 1/1;
}

.podcastDescription {
        display: flex; 
        flex-direction: column;
        max-width: 400px;
        padding-left: 10px;
}
